<?xml version="1.0" encoding="UTF-8"?>
<plugin>

    <!-- Preferences -->
    <extension id="ui.preferences.update"
               point="org.protege.editor.core.application.preferencespanel">
        <label value="Lucene Search"/>
        <class value="org.protege.editor.search.lucene.SearchPreferencesPanel"/>
    </extension>

</plugin>